@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;

  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-border: var(--border);
}

@layer base {
  :root {
    --background: #ededed;
    --primary: #000000;
    --secondary: #676767;
    --tertiary: #656565;
    --border: #999999;
  }

  .dark {
    --background: #000000;
    --primary: #ededed;
    --secondary: #a1a1a1;
    --tertiary: #1a1a1a;
    --border: #272727;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-primary);
    font-family: var(--font-sans);
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  * {
    border-color: var(--color-border);
    outline-color: var(--color-primary);
  }
}
